{% extends "layouts/main.twig" %}

{% block title %}{{ team.name }}{% endblock %}

{% block content %}
<div class="ui grid">
  <div class="ui row">
    <div class="column">
      <h2 class="ui header">
        <i class="icon circular">{{ team.position }}</i>
        <div class="content">
          {{ team.name }}
        </div>
      </h2>

    </div>
  </div>
  <div class="ui row">
    <div class="column">
      <div class="ui segment">
        <div class="ui yellow image label">
          TOTAL POINTS
          <div class="detail">{{ team.getTotalPoints }}</div>
        </div>
        <div class="ui blue image label">
          FORM
          <div class="detail">{{ team.getForm }}</div>
        </div>
        <div class="ui green image label">
          WINS
          <div class="detail">{{ team.getWins }}</div>
        </div>
        <div class="ui image label">
          DRAWS
          <div class="detail">{{ team.Draws }}</div>
        </div>
        <div class="ui red image label">
          LOSSES
          <div class="detail">{{ team.getLosses }}</div>
        </div>

      </div>
    </div>
  </div>
  <div class="ui row">
    <div class="column">
      <table class="ui celled table">
        <thead>
          <tr>
            <th>Gameweek</th>
            <th>Points</th>
            <th>Opponent</th>
            <th>Points</th>
            {% if admin %}
              <th>League Position (form)</th>
              <th>Fantasy Points</th>
              <th>Points Difference</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for match in matches %}
          {% set teamStats = match.getTeamStats %}
              <tr class="{% if match.getResult == 'w'%}positive{% elseif match.getResult == 'l' %}negative{% endif %}">
                <td>GW{{match.Match.getGameweek}}</td>
                <td>{{match.points}}</td>
                <td>{{match.Opponent.Team.name}}</td>
                <td>{{match.Opponent.points}}</td>
                {% if admin %}
                  <td>{{teamStats.getPosition}} ({{teamStats.getForm}})</td>
                  <td>{{teamStats.getFplPoints}}</td>
                  <td>{{teamStats.getPointsDifference}}</td>
                {% endif %}
              </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}